<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/c095df0eeb.js"></script>
    <link rel="stylesheet" media="screen" href="/stylesheet/style.css">
    <link rel="stylesheet" href="/public/stylesheet/normalize.css">
    <title>DevRunner | Fale Conosco</title>
</head>
<body>

        <nav class="navbar navbar-inverse">
                <div class="container">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                       <a class="navbar-brand" href="/home">Dev<span><i class="fas fa-running"></i></span>Runner</a> 
                  </div>
                  <div class="collapse navbar-collapse" id="navbar">
                    <ul class="nav navbar-nav navbar-right">
                      <li><a href="/home">Home <span class="sr-only">(current)</span></a></li>
                      <li><a href="/home/sobre">Sobre</a></li>
                      <li><a href="/home/contato">Contato</a></li>
                      <li><a href="/home/faleconosco/new">Fale Conosco</a></li>
                    </ul>  
                  </div><!-- /.navbar-collapse -->
                </div><!-- /.container -->
              </nav>
    

      
