<% include ./partials/showpage %>

<header class="jumbotron allshowpage">
	<div class="caption">
		<h1>DashBoard</h1>
	</div>
	<div class="thumbnail">
		<img class="img-responsive" src="https://images.pexels.com/photos/572056/pexels-photo-572056.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=1&w=500" alt="">
	</div>
	<p>
	Dashboards são painéis que mostram métricas e indicadores importantes para alcançar objetivos e metas traçadas de forma visual, facilitando a compreensão das informações geradas.

Existem diversos tipos de geração de informação, mas o formato visual ganha muitos pontos quando se trata de entender como estão indo resultados, possibilitando que qualquer pessoa consiga consumir a informação, desde estagiários até c-levels.

O objetivo dos dashboards, é possibilitar o monitoramento dos resultados de uma empresa distribuídos em diversos indicadores. Para chegar a esse patamar é preciso responder perguntas essenciais para ter as respostas desejadas. Se você não souber o que perguntar, não será possível construir um dashboard.

Para determinar as perguntas certas, é preciso compreender as necessidades da empresa de forma clara. A definição de métricas de KPIs para acompanhamento é crucial para você criar as perguntas necessárias.

Não serão criadas perguntas perfeitas em um primeiro momento porque o cenário do “campo de batalha” para alcançar o objetivo pode mudar a cada instante, sendo isso determinante para os próximos passos.

Definindo as métricas necessárias de acompanhamento, fica mais fácil seguir para o próximo passo na criação de um dashboard. A visualização dos dados e informações apresentadas pode ser considerada um grande trunfo do painel.

Em alguns casos a infografia é utilizada para decifrar números e dados de forma simples que antes eram complicadas, mas em sua grande maioria os gráficos são usados para representar a informação. Por serem universais, muitas pessoas já compreendem sua leitura.

O ponto principal em um painel de controle deve estar na sua capacidade de transmitir a informação de forma rápida e eficiência.

Cada vez mais, trabalhamos com técnicas e conceitos de experiência do usuário (UX) para criar um dashboard que permita uma visualização simples para os diversos tipos de públicos que irão consumir as informações.

Dessa forma, o que interfere muito na criação de um painel, é saber qual seu tipo para detalharmos ao máximo cada ponto para quem vai consumir de fato aquelas informações diretamente ou indiretamente.
	</p>
</header>

<% include ./partials/footer %>