<% include ./partials/showpage %>

<header class="jumbotron allshowpage">
	<div class="caption">
		<h1>E-mail Marketing</h1>
	</div>
	<div class="thumbnail">
		<img class="image-responsive" src="https://images.pexels.com/photos/1893610/pexels-photo-1893610.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=1&w=500" alt="">
	</div>
	<p>
	Email marketing é a utilização do email em campanhas de marketing digital, com o objetivo de criar e manter o relacionamento com clientes, melhorando resultados nas vendas e na retenção. A segmentação de contatos e a automação de campanhas provêm melhorias significativas em sua aplicação.

Diferente do spam, o email marketing visa chegar até os interessados na informação, serviço ou produto que se deseja oferecer. Outra característica exclusiva da prática do email marketing é que as campanhas geralmente oferecem uma opção de cancelamento de recebimento, o que claramente demonstra o respeito por seu público

Com uma previsão de 2,9 bilhões de usuários de e-mail até 2019, o email é uma maneira de alcançar diretamente milhares de clientes potenciais, a um custo relativamente baixo em comparação com publicidade em sites, adwords, banners ou anúncios patrocinados em redes sociais. Cerca de 269 bilhões de e-mails são enviados todos os dias no mundo, com uma previsão de 319 bilhões de envios até 2021.
	</p>
</header>

<% include ./partials/footer %>