<% include ./partials/header %>

<header class="padding showpage">
    <div class="text-landing text-center">
        <h1>Sua Marca Em Qualquer Lugar</h1>
        <a class="btn btn-warning btn-lg btn-landing" href="/home/sobre">Saiba Mais</a>
    </div>
</header>

<section class="padding services">
    <div class="container">
        <div class="row text-center">
            <header class="jumbotron">
                <h2>Nossos Serviços</h2>
            </header>
            <hr class="style-two">
            <div class="col-md-3 col-sm-6">
               <div class="thumbnail">
                   <div class="caption">
                      <h4>Criação WebSite</h4>
                   </div>
                <hr class="style-one">
                <img class="img-responsive" src="https://images.pexels.com/photos/270637/pexels-photo-270637.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=1&w=500" alt="">
                <hr class="style-one">
                <a class="btn btn-warning btn-services" href="/home/website">Saiba Mais</a>
               </div>
            </div>

            <div class="col-md-3 col-sm-6">
               <div class="thumbnail">
                   <div class="caption">
                      <h4>Landing Page</h4>
                   </div>
                <hr class="style-one">
                <img class="image-responsive" src="https://images.pexels.com/photos/414691/pexels-photo-414691.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=1&w=500" alt="">
                <hr class="style-one">
                <a class="btn btn-warning btn-services" href="/home/landingpage">Saiba Mais</a>
               </div>
            </div>

            <div class="col-md-3 col-sm-6">
               <div class="thumbnail">
                   <div class="caption">
                      <h4>E-mail Marketing</h4>
                   </div>
                <hr class="style-one">
                <img class="image-responsive" src="https://images.pexels.com/photos/1893610/pexels-photo-1893610.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=1&w=500" alt="">
                <hr class="style-one">
                <a class="btn btn-warning btn-services" href="/home/emailmarketing">Saiba Mais</a>
               </div>
            </div>

            <div class="col-md-3 col-sm-6">
                    <div class="thumbnail">
                        <div class="caption">
                           <h4>DashBoard</h4>
                        </div>
                     <hr class="style-one">
                     <img class="img-responsive" src="https://images.pexels.com/photos/572056/pexels-photo-572056.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=1&w=500" alt="">
                     <hr class="style-one">
                     <a class="btn btn-warning btn-services" href="/home/dashboard">Saiba Mais</a>
                    </div>
                 </div>
        </div>
    </div>
</section>

<section class="padding tech">
    <div class="container">
        <div class="row text-center">
            <h2>Nossas Tecnologias</h2>
            <div class="col-md-3 col-sm-6">
                    <i class="fab fa-html5 fa-5x"></i>
                    <h4>HTML5</h4>
            </div>

            <div class="col-md-3 col-sm-6">
                   <i class="fab fa-css3-alt fa-5x"></i>
                <h4>CSS3</h4>
            </div>

            <div class="col-md-3 col-sm-6">
                <i class="fab fa-bootstrap fa-5x"></i>
                <h4>BootStrap3</h4>
            </div>

            <div class="col-md-3 col-sm-6">
                <i class="fab fa-js-square fa-5x"></i>
                <h4>JavaScript</h4>
            </div>
        </div>
    </div>
</section>

<% include ./partials/footer %>