<% include ./partials/showpage %>

<header class="jumbotron allshowpage">
	<div class="caption">
		<h1>Landing Page</h1>
	</div>
	<div class="thumbnail">
		<img class="image-responsive" src="https://images.pexels.com/photos/414691/pexels-photo-414691.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=1&w=500" alt="">
	</div>
	<p>
	Landing page é uma página que possui todos os elementos voltados à conversão do visitante em lead, oportunidade ou cliente. Também conhecidas como páginas de aterrissagem ou páginas de conversão, as landing pages são muito usadas em campanhas de marketing digital, pois costumam ter altas taxas de conversão.

Em geral, essas páginas contêm muito menos elementos e links do que a homepage de um site normal. Isso é feito propositalmente, depois de conseguir levar um visitante para uma Landing Page, seu único objetivo com ele deve ser conseguir a conversão.

Pela sua natureza, Landing Pages possuem taxas de conversão superiores a um site normal. Não é nada incomum que uma Landing Page tenha uma taxa de conversão 5 ou 10 vezes superiores a uma página.

Essa é uma das melhores formas em se fazer.
	</p>
</header>

<% include ./partials/footer %>