<% include ./partials/faleconosco %>

<div class="contact-us">
    <div class="container text-center">
                <header>
                    <h1>Fale Conosco</h1>
                </header>
            
<form action="/home/faleconosco/new" method="POST">
	<div class="form-group">
		<label for="name">Nome </label>
		<input type="text" id="name" name="name" class="form-control" placeholder="Nome" required>
	</div>

	<div class="form-group">
		<label for="email">Email </label>
		<input type="email" id="email" name="email" class="form-control" placeholder="Email">
	</div>

	<div class="form-group">
		<label for="menssage">Fale Conosco </label>
		<input type="textarea" id="menssage" name="menssage" class="form-control" placeholder="Fale Conosco">
	</div>

	<div class="form-group text-center">
		<a class="btn btn-success btn-md btn-form" href="">Enviar</a>
	</div>
</form>
    </div>
   
       
</div>


<% include ./partials/footer %>