<% include ./partials/sobre %>

<header class=" jumbotron about">
    <div class="container">
        <h1>Sobre</h1>
        <hr class="style-one">
        <div class="text-about">
                <p> Este projeto foi criado com o objetivo de expandir minhas habilidades em Desenvolvimento Web,
                    então decidi montar um projeto pessoal para colocar todo meu conhecimento em prática, ou seja, 
                    resultado de bastante estudo e dedicação e no momento estou vivendo algo totalmente novo e desconhecido e estou
                    muito motivado em conseguir o meu primeiro emprego como Desenvolvedor Web para explorar esse mundo fantástico dos códigos.
                </p>
                <hr class="style-one">
            </div>
    </div>
</header>



<% include ./partials/footer %>