<% include ./partials/showpage %>

<header class="jumbotron allshowpage">
	<div class="caption">
		<h1>Web Site</h1>
	</div>
	<div class="thumbnail">
		<img class="image-responsive" src="https://images.pexels.com/photos/270637/pexels-photo-270637.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=1&w=500">
		
	</div>
	<p>
	No mundo globalizado e altamente tecnológico em que vivemos, as empresas, sendo de grande ou pequeno porte, precisam estar cada vez mais inseridas no ambiente virtual. De maneira geral, um site normalmente é a maneira mais adequada para que seu negócio tenha visibilidade na internet e você consiga atingir seus objetivos de mercado.No mundo globalizado e altamente tecnológico em que vivemos, as empresas, sendo de grande ou pequeno porte, precisam estar cada vez mais inseridas no ambiente virtual. De maneira geral, um site normalmente é a maneira mais adequada para que seu negócio tenha visibilidade na internet e você consiga atingir seus objetivos de mercado.

    Com um site e uma boa estratégia de marketing digital, é possível atrair novos clientes. Dentro do marketing digital, há uma variedade muito grande de estratégias, técnicas e ações, e é possível contar com a ajuda de profissionais ou agências especializadas para identificar as melhores para sua empresa. Um bom plano de marketing digital, adequado aos objetivos da sua empresa e ao público que pretende alcançar, resultam em possibilidades infinitas de atração de novos clientes.
	</p>
</header>


<% include ./partials/footer %>